html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1D2130;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.font {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #111827;
    text-align: center;
}

.btn {
    color: #fff;
    background-color: #F01F4B;
    font-weight: 700;
    line-height: 1.5;
    padding: 15px 40px;
    font-size: 1rem;
    border-radius: 50rem;
    border: none;
    transition: transform .3s ease-out;
    cursor: pointer;
    &:hover {
        background-color: #e60f3d;
        transform: translateY(-7px);
    }
}

.button {
    a {
        color: #F01F4B;
        font-weight: 700;
        border-bottom: 2px solid #F01F4B;
    }
}